/* MAIN, SECCION DE SERVICIOS */

.sub-titulo {
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-image: radial-gradient(circle, blueviolet, white);

  transition: background-image 1s ease-in-out;

  &:hover {
    color: white;
  }
}

#servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;

  article {
    align-items: center;
    justify-items: center;

    border: 1px solid black;
    box-shadow: 2px 2px 0px 10px #003049;
    text-align: center;
    margin: 10px;
  }

  p {
    background-color: var(--naranja);
    display: flex;
    align-items: center;

    width: 450px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 0px 1px gray;
  }
}
