@use "./titulo";
@use "./main";
@use "./redes";
@use "./maps";
@use "./cursos";
@use "./formulario";
@use "./productos";
@use "./footer";

* {
  padding: 0;
  margin: 0;
}

:root {
  --azulClaro: #669bbc;
  --azulOscuro: #003049;
  --bordo: #780000;
  --bordoClaro: #c1121f;
  --naranja: #fccc84;
}

// .fondo-page {
//   background-image: url(img/fondo.webp);
// }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-around;
  }

  #img-productos {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;

    p {
      position: relative;
      font-size: 30px;
      width: 50%;
      left: 10%;
      text-align: center;
      border: 1px solid lightgray;
    }
  }
  .text-curso {
    p {
      position: relative;
      width: 60%;

      left: 20%;
    }
  }
}

@media (max-width: 768px) {
  #img-productos {
    position: relative;
    width: 80%;
    left: 20%;

    p {
      position: relative;
      font-size: 30px;
      width: 50%;
      left: 10%;
      text-align: center;
      border: 1px solid lightgray;

      // &:hover {
      //   background-color: #669bbc;
      //   border: 1px solid #003049;
    }
  }
}

@media (max-width: 576px) {
  /* PAGINA CONTACTOS */
  #enlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
  }

  .sub-titulo {
    margin: 30px;
  }

  #icons-redes {
    flex-wrap: wrap;
  }

  /* PAGINA DE PRODUCTOS */
  #img-productos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  #img-productos p {
    position: relative;
    font-size: 30px;
    width: 50%;
    left: 25%;
    text-align: center;
    border: 1px solid lightgray;
  }

  #img-productos img {
    position: relative;
    left: 10%;
  }

  /* PAGINA FORMULARIO */
  #formulario {
    width: 75%;
    left: 7%;
  }

  #formulario label {
    padding: 5px 5px;
  }
}

@media (max-width: 412px) {
  .sub-titulo {
    margin: 5px;
  }

  #servicios p {
    width: 90%;
  }
}
