// TITULO PRINCIPAL

header {
  h1 {
    text-align: center;
    font-size: 35px;
    text-shadow: 2px 3px gray;
  }
}

// BOTONES Y ENLACES

#enlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
  li {
    display: inline;

    width: 100%;
    margin: 20px;
  }
  a {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 8px gray;

    width: 100%;
    padding: 3px;

    &:hover {
      background-color: lightgray;
      color: black;
    }
  }
}
